* {
  background-color: rgb(238, 223, 205);
  margin: 0;
}

button {
  background-color: rgb(139, 135, 130);
  border-radius: 6px;
  width: 30px;
}

img {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
}
