.button-favorites {
  display: flex;
  margin-left: 6em;
}

.btn {
  background-color: tomato;
  color: rgb(246, 250, 250);
  font-size: 0.6em;
  margin: 0.1em;
  padding: 0.4em;
  width: 20%;
}

.name {
  color:rgb(59, 56, 56);
  text-align: center
}

.link-fav {
  text-decoration: none;
}
