footer {
  background-color: rgb(238, 223, 205);
  bottom: 0;
  height: 1.4rem;
  left: 84%;
  position: fixed;
  width: 100%;
}

footer img {
  background-color: beige;
}

footer button {
  background-color: beige;
}
